:root {
  --dark: #1e1e1e; /* Dark Background Color */
  --dark-lighter: #4a4a4a; /* Lighter Dark Color */
  --blue-solid: #337ab7; /* Blue Primary Color */
  --gold: #b79833; /* Gold Accent Color */
  --white: #ffffff; /* White Text Color */
  --grey: #bdbdbd; /* Grey Text Color*/
  --primary-font: "SF Pro Display", sans-serif; /* Primary Font */
  --secondary-font: "BRANCHE ITALIC", serif; /* Secondary Font */
}

#media {
  margin: 1rem;
}

.videoContainer {
  position: relative;
  display: inline-block;
  width: 100%;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  cursor: pointer;
  z-index: 1;
  cursor: pointer;
}

.stillsCarousel {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.stillsContainer {
  overflow: auto;
  white-space: nowrap;
}

#leftArrow img,
#rightArrow img {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.still {
  height: 7.5rem;
}

.trailerImage {
  height: 7.5rem;
}

.infoContainerPositioner {
  display: flex;
  justify-content: center;
}

.infoContainer {
  background-color: var(--dark-lighter);
  border-radius: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
}

#filmInfo {
  font-size: 1.25rem;
}

#filmInfo h1 {
  font-size: 2.25rem;
}

.clockContainer {
  display: flex;
  align-items: center;
}

.clockIcon {
  width: 2rem;
  height: 2rem;
  margin-right: 12px;
}

.greyInfoText {
  color: var(--grey);
}

.cast {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#timeInfo {
  margin: 1rem;
}

.screeningsScrollMenu {
  overflow: auto;
  white-space: nowrap;
  margin-top: 1rem;
  scrollbar-color: var(--blue-solid);
  overflow-y: scroll;
}

.dateBox {
  background-color: var(--dark-lighter);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 5rem;
  width: 9.5rem;
  border-radius: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  display: inline-block;
  margin-right: 1rem;
}

.dateBox:hover {
  background-color: #777;
  cursor: pointer;
}

.dateBox h5 {
  font-size: 2rem;
  font-weight: 500;
}

.timeBoxContainer {
  flex-wrap: wrap;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}

.timeBox {
  background-color: var(--dark-lighter);
  padding: 1rem;
  border-radius: 1.5rem;
  min-height: 100px;
  width: 47.5%;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.timeBox:hover {
  background-color: #777;
  cursor: pointer;
}

.timeBox h5 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

#ticketsInfo {
  margin: 1rem;
}

.ticketsBox {
  background-color: var(--dark-lighter);
  padding: 1.5rem;
  width: 100%;
  height: 200px;
  border-radius: 1.5rem;
}

.ticketsBox h2 {
  font-size: 2rem;
}

.ticketCounterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

#minus {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

#plus {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.ticketsBox button {
  background-color: var(--blue-solid);
  border-radius: 1.5rem;
  border: 0;
  color: var(--white);
  width: 50%;
  height: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.ticketsBox button:hover {
  background-color: #4694d8;
}

@media (min-width: 768px) {
  #media {
    margin: 1rem 2rem;
  }

  .infoContainerPositioner {
    display: block;
  }

  .infoContainer {
    margin: 2rem 2rem;
    width: 50%;
    padding: 2rem;
  }

  .clockIcon {
    width: 50px;
    height: 50px;
  }

  #filmInfo h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
  }

  #generalInfo {
    font-size: 2rem;
  }

  #description {
    font-size: 1.5rem;
  }

  #timeInfo {
    margin: 2rem 2rem;
  }

  #ticketsInfo {
    margin: 2rem 2rem;
  }

  .screeningsScrollMenu {
    margin: 2rem 0rem;
  }

  .timeBoxContainer {
    justify-content: start;
    gap: 40px;
  }

  .timeBox {
    width: 9.25rem;
    height: 11rem;
  }

  .timeBox h5 {
    margin-bottom: 2.5rem;
  }

  #ticketsInfo {
    display: flex;
    justify-content: center;
  }

  .ticketsBox {
    width: 60%;
    height: 20rem;
  }

  .ticketsBox h2 {
    font-size: 4rem;
  }

  .ticketCounterContainer {
    font-size: 4rem;
  }

  #minus {
    width: 6rem;
    height: 6rem;
  }

  #plus {
    width: 6rem;
    height: 6rem;
  }

  #minus img {
    width: 6rem;
    height: 6rem;
  }

  #plus img {
    width: 6rem;
    height: 6rem;
  }

  .ticketsBox button {
    height: 3rem;
    max-width: 16rem;
    font-size: 2rem;
  }

  main {
    padding-bottom: 5rem;
  }
}
