.movies {
    width: 100%;
    padding: 0 1rem;
}

.now-showing h5 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem 0.5rem;
    padding: 0;
}

.movie-card {
    width: 100%;
    list-style: none;
    background-color: rgba(74, 74, 74, 0.70);
    border-radius: 1rem;
    text-align: center; 
    padding: 0.5rem;
}

.movie-card img {
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    object-fit: contain;
}

.movie-info {
    text-align: left;
}

.movie-title {
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.movie-genre {
    font-size: 0.625rem;
    font-weight: 400;
    color: #ccc;
    margin-bottom: 0.5rem;
}

.movie-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
}

.movie-actions .btn {
    min-width: 4rem;
    width: 45%;
    height: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--blue-solid);
    color: var(--white);
    font-size: 0.75rem;
    cursor: pointer;
}

@media (min-width: 768px) {

    .movies {
        padding: 0 2rem;
        position: relative;
        top: 6rem;
    }

    .movie-list {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    .now-showing h5 {
        margin-top: 0;
        font-size: 2rem;
        margin-bottom: 4rem;
    }

    .movie-card {
        padding: 1rem;

    }

    .movie-card:hover {
        transform: scale(1.05);
        transition: 0.5s ease;
        cursor: pointer;
    }

    .movie-title {
        font-size: 1.5rem;
    }

    .movie-genre {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .movie-actions .btn {
        height: 2rem;
        font-size: 1rem;
        min-width: 5rem;
    }

    .movie-actions .btn:hover {
        opacity: 0.7;
    }
}